@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: ;
}

html {
  width: 100%;
  height: 100%;
}

body {
  @include m.center-hori-verti;
  width: 100%;
  height: 100%;
  font-family: v.$font-f-default;
  font-weight: v.$font-w-default;
  font-size: v.$font-s-default;
  background-color: var(--primary-color);

  padding-inline: 1.5rem;
}

#root {
  @include m.center-hori-verti;
  flex-direction: column;
}
