@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@import "../base/animation";

body {
  font-family: v.$font-f-default;
  font-weight: v.$font-w-default;
  font-size: v.$font-s-default;
}

.heading-primary {
  font-size: v.$font-s-lg;
  font-weight: v.$font-w-md;
  color: var(--primary-color);

  transform: skew(20deg);

  @include m.respondMin(v.$breakpoint-tablet-md) {
    font-size: v.$font-s-xl;
  }

  @include m.respondMax(v.$breakpoint-phone-xs) {
    font-size: v.$font-s-default;
  }
}

.quote {
  &__text-box {
    font-size: v.$font-s-md;
    font-weight: v.$font-w-md;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__icon,
  &__text {
    color: var(--primary-color);
  }

  &__author {
    font-size: v.$font-s-default;
    color: var(--primary-color);
    text-align: right;
    margin-bottom: 2rem;
  }

  &__button-icon {
    color: v.$color-white;
  }

  @include m.respondMin(v.$breakpoint-tablet-md) {
    &__text-box {
      font-size: v.$font-s-xl;
    }
  }

  @include m.respondMax(v.$breakpoint-phone-xs) {
    &__text-box {
      font-size: v.$font-s-default;
    }

    &__author {
      font-size: v.$font-s-sm;
      margin-bottom: 2.4rem;
    }

    &__button-icon {
      color: var(--primary-color);
    }
  }
}
