$color-white: #fff;
$color-black: #000;

$font-f-default: "Raleway", sans-serif;

$font-s-sm: 0.8rem;
$font-s-default: 1rem;
$font-s-md: 1.4rem;
$font-s-lg: 1.5rem;
$font-s-xl: 2rem;

$font-w-default: 400;
$font-w-md: 500;

$border-radius-sm: 3px;
