@use "./sass/abstracts/variables" as v;

.heading-box {
  width: 100%;
  background-color: v.$color-black;
  text-align: center;

  padding: 0.4rem 1rem;
  margin-bottom: 1rem;

  transform: skew(-20deg);
}

.heading-primary {
  font-size: v.$font-s-lg;
  font-weight: v.$font-w-md;
  color: var(--primary-color);

  transform: skew(20deg);
}
