@use "../../sass/abstracts/mixins" as m;
@use "../../sass/abstracts/variables" as v;
@import "../../sass/base/base";
@import "../../sass/base/typography";

#quote-box {
  width: 100%;
  background-color: v.$color-white;
  border-radius: v.$border-radius-sm;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(v.$color-black, 0.15);

  transition: all 0.2s ease-in-out;

  @include m.respondMin(v.$breakpoint-tablet-sm) {
    max-width: 35rem;
    padding: 2.5rem 3.125rem;
  }

  @include m.respondMin(v.$breakpoint-tablet-md) {
    width: 35rem;
  }
}

.buttons {
  display: flex;
  align-items: center;

  &--sns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: auto;
  }

  @include m.respondMax(v.$breakpoint-phone-xs) {
    position: relative;

    &--sns {
      position: absolute;
      top: -1.8rem;
      left: 0;
      gap: 0;
    }
  }
}

.button {
  text-decoration: none;
  border: none;
  border-radius: v.$border-radius-sm;
  background-color: var(--primary-color);
  box-shadow: 0 0.2rem 0.4rem rgba(v.$color-black, 0.1);

  transition: all 0.2s;
  cursor: pointer;

  &--sns {
    @include m.center-hori-verti;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }

  &-new-quote {
    height: 2.5rem;
    font-size: v.$font-s-default;
    color: v.$color-white;
    padding-inline: 1rem;

    position: relative;
  }

  @include m.hoverEffect() {
    &:hover {
      opacity: 0.9;
    }
  }

  @include m.respondMax(v.$breakpoint-phone-xs) {
    box-shadow: none;

    &--sns {
      background-color: transparent;
      width: 1.5rem;
      height: 1.5rem;
    }

    &-new-quote {
      width: 100%;
    }
  }
}
